.social_link-icon {
  text-decoration: none;
  color: #16a085;
  font-weight: 500;
  font-size: 1.2rem;
}

.contact_btn {
  padding: 7px 15px;
  background: #16a085;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}

.section_description1 {
  color: #16a085;
  font-weight: 600;
  font-size: 1rem;
}

.textarea {
  padding: 9px 12px !important;
  color: black;
}
