.hero_subtitle img {
  width: 2.3rem;
  height: 2.3rem;
}

.section_subtitle {
  color: #0b826a;
  font-size: 1.6rem;
}

.hero_content h1 {
  font-size: 3.2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--heading-color);
}

.hero_content h1 .highlight {
  color: #0b826a;
}

.hero_content p {
  font-size: 1.1rem;
  color: var(--text-color);
  line-height: 2rem;
}

.hero_img-box img,
.hero_img-box video {
  width: 100%;
  height: 350px;
  border-radius: 20px;
  border: 1px solid var(--secondary-color);
  object-fit: cover;
}

.hero_content {
  padding-top: 3.5rem;
}

.hero_img-box {
  padding-top: 2rem;
}

.services_subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 50px;
  color: #0b826a;
}

.services_title {
  font-size: 2.5rem;
  font-weight: 500;
}

.featured_tour-title {
  font-size: 2.3rem;
  font-weight: 500;
}

.experience_content h2 {
  font-size: 2.5rem;
  margin-top: 1rem;
  font-weight: 500;
}

.experience_content p {
  font-size: 1.1rem;
  color: var(--text-color);
  margin-top: 1rem;
}

.counter_wrapper {
  margin-top: 2.5rem;
}

.counter_box span {
  width: 50px;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: var(--primary-color); */
  background: #16a084a4;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10px 5px 10px 5px;
}

.counter_box h6 {
  font-size: 1.1rem;
  margin-top: 0.7em;
  color: var(--text-color);
}

.experience_img img {
  width: 90%;
}

.gallery_title {
  font-size: 2.3rem;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

.img1 {
  border-radius: 10px;
  overflow: hidden;
}

.masonry_img {
  /* overflow: hidden; */
  transition: 0.3s;
}

.masonry_img:hover {
  transform: scale(1.1);
}

.testimonial_title {
  font-size: 2.3rem;
  margin-top: 1rem;
}

.image {
  height: 55px !important;
  width: 50px !important;
  padding-top: 5px;
  /* direction: ltr; */
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 992px) {
  .hero_content h1 {
    font-size: 2.7rem;
  }

  .hero_img-box {
    display: none;
  }

  .hero_video-box {
    display: block;
  }

  .st {
    margin-left: 5px;
  }

  .experience_content {
    margin-left: 17%;
  }

  .counter_wrapper {
    margin-left: 17%;
  }

  .services_title,
  .featured_tour-title,
  .gallery_title,
  .testimonial_title,
  .experience_content h2 {
    font-size: 2rem;
  }

  .experience_img {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  .hero_content h1 {
    font-size: 1.8rem;
  }

  .services_title,
  .featured_tour-title,
  .gallery_title,
  .testimonial_title,
  .experience_content h2 {
    font-size: 1.5rem;
  }

  .experience_content {
    margin-left: 5%;
  }

  .counter_wrapper {
    margin-left: 5%;
  }
}
