.pcol {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pbtn {
  background-color: #16a085;
  border: none;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
}
